<div class="header">
  <span><h1>Skin Disease Diagnosis Using Deep Learning Techniques</h1></span>
</div>
<div class="wholeContent">
  
  <div class="toolbar" role="banner">
    <img
      width="127"
      alt="College Logo"
      src="../assets/images/collegeLogo.gif"
    />
    <span>VIII Semester</span>
      <div class="spacer">
        <span><h1>MAJOR PROJECT</h1></span>
        <div style="height: 2vh;"></div>
        <hr>
        <span><h2>Our Team</h2></span>
        <hr>
        <div style="height: 1vh;"></div>
        <div class="names">
          <p>K. Veeraswamy</p><h6>(Guide)</h6>
          <p>K. Sai Akhil</p><h6>(1602-18-735-093)</h6>
          <p>P. Suchith</p><h6>(1602-18-735-093)</h6>
          <p>K. Vamshi</p><h6>(1602-18-735-093)</h6>
        </div>
        <div style="height: 2vh;"></div>
      </div>
  </div>
  <app-main-page></app-main-page>
  
</div>
