<div class="content" role="main">
  <div>
    <div class="welcome">
      <p> &emsp; Hello! Following is a demo application of our project. To test the project, simply upload your skin image of choice below</p>
    </div>
  </div>
    <app-upload-component (sendOutput)="getPredictions($event)"></app-upload-component>
    <div class="cards">
      <div class="card-container">
        <button class="card card-small" (click)="selected = 'component'" tabindex="0">
          <object data="../../../assets/images/more.svg" width="24" height="24"> </object>
          <a href="#open-modal" style="color: #333333;"><span>Detailed Report</span></a>
        </button>
      </div>
      <input type="hidden" #selection>
      <div class="card-container">
        <button class="card card-small" (click)="selected = 'predict'" tabindex="0">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 50 50" style=" fill:#000000;">
            <path d="M 7 2 C 4.199219 2 2 4.199219 2 7 L 2 34 C 2 36.800781 4.199219 39 7 39 L 34 39 C 36.800781 39 39 36.800781 39 34 L 39 9.8125 L 37 12 L 37 34 C 37 35.699219 35.699219 37 34 37 L 7 37 C 5.300781 37 4 35.699219 4 34 L 4 7 C 4 5.300781 5.300781 4 7 4 L 33.40625 4 L 35.09375 2.09375 C 34.695313 2.09375 34.398438 2 34 2 Z M 36.25 5.34375 L 18.9375 24.59375 L 10.65625 17.25 L 9.34375 18.75 L 18.34375 26.75 L 19.09375 27.40625 L 19.75 26.65625 L 37.75 6.65625 Z M 41 11 L 41 13 L 43 13 C 44.699219 13 46 14.300781 46 16 L 46 43 C 46 44.699219 44.699219 46 43 46 L 16 46 C 14.300781 46 13 44.699219 13 43 L 13 41 L 11 41 L 11 43 C 11 45.800781 13.199219 48 16 48 L 43 48 C 45.800781 48 48 45.800781 48 43 L 48 16 C 48 13.199219 45.800781 11 43 11 Z"></path>
          </svg>
          <span>Predict Image</span>
        </button>
      </div>
    </div>
    <div class="card-container">
      <a class="circle-link" title="Star this project" href="https://github.com/akhilphenom/major-project" target="_blank" rel="noopener">
        <img id="logo" class="svg" src="../../../assets/images/github.svg" alt="Star me on GitHub" />
      </a>
    </div>
    <div class="descriptionSet" [ngSwitch]="selected">
      <div class="detailDesc" *ngSwitchCase="'predict'">
        <p>
          Image provided is diagnosed under {{finalResult[0]}} with a probability of {{finalResult[1]}} amongst 9 classes
        </p>
      </div>
    </div>
    
</div>
<div id="open-modal" class="modal">
  <div class="modal__content">
      <h1>Your Analysis</h1>

      <div class="modal__body">
        <div *ngFor="let result of predictions; let i = index">
          <p>{{predictionClasses[i]}} : {{result}}</p>
        </div>
      </div>

      <div class="modal__footer">
          
      </div>

      <a href="#" class="modal__close">&times;</a>
  </div>
</div>